<html>
<head>
    <meta charset="utf-8">
    <title>Backbone TodoList Project</title>
    
    {% stylesheets '../web/css/*.css' filter='?yui_css' output='assets/css/all_v2.css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
</head>
<body>

{% block content %}{% endblock %}

{% javascripts filter='?yui_js' output='assets/js/all_v2.js'
    '../web/js/jquery.js'
    '../web/js/underscore.js'
    '../web/js/backbone.js'
    '../web/js/bootstrap.js'
    '../web/js/models/todo.js'
    '../web/js/collections/todoCollection.js'
    '../web/js/views/todoView.js'
    '../web/js/views/todoListView.js'
    '../web/js/views/todoListApp.js'
    '../web/js/models/group.js'
    '../web/js/collections/groupCollection.js'
    '../web/js/views/groupView.js'
    '../web/js/views/groupApplication.js'
    '../web/js/main.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

</body>
</html>
